.div {
    margin: auto;
    color: red;
    width: 300px;
    height: 50px;
    box-shadow: 10px 10px 5px 5px rgb(41, 255, 3);
    text-shadow: 20px 8px #0282fa;

}
h2 {
    text-align: center;
}
.Shaxruz {
    margin: auto;
    color: rgb(7, 246, 39);
    width: 300px;
    height: 50px;
    box-shadow: 10px 10px 20px 5px rgb(255, 0, 0);
    text-shadow:10px 10px rebeccapurple  ;
}
.Bobur {
    margin: auto;
    color: rgb(240, 25, 25);
    width: 300px;
    height: 50px;
    box-shadow: 20px 15px 20px  rgb(58, 4, 255);
    text-shadow:10px 15px 1px rgb(0, 255, 8)  ;
}
   